<div class="content-wrapper">
    <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{'home' | translate}}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/home">{{'home' | translate}}</a></li>
            <li class="breadcrumb-item active">{{'app_name' | translate}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

    <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>222,259,100<sup style="font-size: 20px"> {{'lak' | translate}}</sup></h3>
              <p>{{'total_income' | translate}}</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="" class="small-box-footer"> {{'detail' | translate}}<i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>11,550,340<sup style="font-size: 20px"> {{'lak' | translate}}</sup></h3>
              <p>{{'total_expenses' | translate}}</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="" class="small-box-footer"> {{'detail' | translate}} <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>210,708,760<sup style="font-size: 20px"> {{'lak' | translate}}</sup></h3>
              <p>{{'operating_result' | translate}}</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer"> {{'detail' | translate}} <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>32,865,602,150<sup style="font-size: 20px"> {{'lak' | translate}}</sup></h3>

              <p>{{'income' | translate}} ({{'arrear' | translate}})</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="" class="small-box-footer"> {{'detail' | translate}} <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-university"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{'loan_money' | translate}}</span>
              <span class="info-box-number">2,542,940,000<small> {{'lak' | translate}}</small>
              </span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-money-bill-wave"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{'capital_paid' | translate}}</span>
              <span class="info-box-number">2,192,095,000<small> {{'lak' | translate}}</small></span>
            </div>
          </div>
        </div>
      
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-money-bill-wave"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{'debt_from_customer' | translate}}</span>
              <span class="info-box-number">348,935,000<small> {{'lak' | translate}}</small></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-money-bill-wave"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{'cash_balance' | translate}}</span>
              <span class="info-box-number">37,505,000<small> {{'lak' | translate}}</small></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{'all_customer' | translate}}</span>
              <span class="info-box-number">561<small> ຄົນ</small>
              </span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-user-plus"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{'active_customer' | translate}}</span>
              <span class="info-box-number">49<small> ສັນຍາ</small></span>
            </div>
          </div>
        </div>
      
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-user-secret"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{'customer_determined' | translate}}</span>
              <span class="info-box-number">136<small> ສັນຍາ</small></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-user-times"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">{{'bad_debt' | translate}}</span>
              <span class="info-box-number">0<small> ສັນຍາ</small></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>